<a href="https://colab.research.google.com/github/mariathoma77/mariathoma77/blob/main/Maria_Thoma_Lesson_5_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Lesson 5: strings, lists and dictionaries

# Part 1

1. Create a variable ```x = "I am a great student at Redi"```

In [3]:
x = "I am a great student at Redi"

2. Find the first occurance of "a" using ```.find()``` method and replace all "a" with "o" using the ```.replace()``` method

In [5]:
x.find("a")
x.replace("a", "o")

'I om o greot student ot Redi'

3. slice the string from the left side using square brackets to print only letters from the index position 5 onwards

In [17]:
len(x)
tx = len(x)
print(tx)
print(x[5:tx])

28
a great student at Redi

4. Print the length of the string using ```len()``` function

In [10]:
len(x)

28

# Part 2

Create a dictionary with the key values your name, your hobbies and your hometown like so:

```
me = {
    'name': 'Felix',
    'hobbies': ['running', 'paining', 'writing'],
    'hometown': 'Erlangen'
}
```

In [19]:
me = {
    "name": "Maria",
    "hobbies": ["gardening", "theather", "baking"],
    "hometown": "Saint-Petersburg"
}
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg'}

2. Add another key ```'surname'``` and value \<your surname\> to your dictionary. Print your dictionary to check if it is added.

In [20]:
me["surname"] = "Thoma"
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg', 'surname': 'Thoma'}

3. Add another key ```'skills'``` with the value of list ```['running', 'painting', 'writing']```

In [21]:
me["skills"] = ["running", "painting", 'writing']
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg', 'surname': 'Thoma', 'skills': ['running', 'painting', 'writing']}

4. Append one more skill of yours to this list.

For example ```['running', 'painting', 'writing']``` could be extended to ```['running', 'painting', 'writing', 'coding']```

In [22]:
me["skills"] = ["running", 'painting', "writing", "coding"]
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg', 'surname': 'Thoma', 'skills': ['running', 'painting', 'writing', 'coding']}

5. Sort this list inside the dictionary. Print your dictionary to see if the changes have been made.

In [24]:
me["skills"].sort()
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg', 'surname': 'Thoma', 'skills': ['coding', 'painting', 'running', 'writing']}

6. Remove the key-value pair with the key ```'running'``` from the list.

In [25]:
del me ["skills"] 
print(me)

{'name': 'Maria', 'hobbies': ['gardening', 'theather', 'baking'], 'hometown': 'Saint-Petersburg', 'surname': 'Thoma'}

7. Remove your hometown from the dictionary. Print your dictionary.

In [27]:
me["hometown"].remove("Saint-Petersburg")
print(me)

AttributeError: ignored